@container-width: 1024px;

@black-color: #494949;
@blue-color: #0486bc;

@red-color: #c95158;

body {
    // background-color: #ededed;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

div.container {
    max-width: none !important;
    min-width: @container-width;
    width: @container-width;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

.block {
    // padding: 30px 0 0 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.banner-block {

    @carousel-height: 550px;

    /* Carousel base class */
    .carousel {
        height: @carousel-height;
        margin-bottom: 0;

        .item {
            background-color: #777;
            height: @carousel-height;
        }

        /* Declare heights because of positioning of img element */
        .carousel-inner {
            & > .item {
                & > img {
                    height: @carousel-height;
                    left: 0;
                    min-width: 100%;
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    .banner-contacts-block {
        padding-top: 50px;
    }

    .banner-description-block {
        padding-top: 110px;

        h1 {
            font-size: 72px;
            line-height: 1;
        }
    }



}


.header {

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.main-navbar {
    background-color: @black-color;
    background-image: none;
    border: 0px solid #494949 !important;
    border-radius: 0;
    filter: none;
    margin-bottom: 0;
    min-height: 42px;

    .container {
        background-color: lighten(@black-color, 4%);
        padding: 0;
    }

    .navbar-nav > li > a {
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .navbar-right {
        margin-right: 0;
    }

    .navbar-nav {
        height: 42px;
        min-height: 42px;
        max-height: 42px;

        li {
            a {
                background-color: transparent;
                border-right: 0px solid #333333;
                color: #fff;
                font-size: 11px;
                font-weight: 300;
                padding-top: 11px;
                padding-bottom: 11px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #E0E0E0;
                }
            }
        }

        .image {
            height: 42px;
            a {
                margin: 0;
                padding: 0;

                img {
                    height: 42px;
                    width: 100px;
                }
            }
        }

        .logo {
            background-color: @red-color;

            a {
                padding-bottom: 8px;
                padding-top: 8px;

                padding-left: 15px;
                padding-right: 15px;

                img {
                    height: auto;
                }
            }
            margin-right: 0px;
        }

        .search {
            background-color: @red-color;

            a {
                color :#fff;
            }

            .dropdown-menu {
                background-color: @red-color;
                width: 400px;
            }
        }

        .open {
            background-color: @red-color !important;
            a {
                background-color: @red-color !important;
                background-image: none;
                color :#fff !important;
            }
        }

        .active  {
            a {
                background-color: transparent;
                background-image: url(../img/menu-active-pattern-42px.png);
                background-repeat: repeat;
                color: #fff;

                &:hover {
                    background-color: transparent;
                    background-image: url(../img/menu-active-pattern-42px.png);
                    background-repeat: repeat;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

}



.benefits-block {
    .media {
        margin-bottom: 30px;

        .media-left {

        }

        .media-link {
            display: inline-block;
            padding: 4px;
            margin-bottom: 20px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;

            &:hover {
                border-color: #337ab7;
            }
        }

        .media-object {
            width: 120px;
            margin-right: auto;
            margin-left: auto;
        }

        .media-body {
            // font-size: 12px;
        }
    }
}

.about-block {
    .media {
        .media-left {

        }

        .media-object {
            width: 25px;
        }

        .media-body {
            .media-heading {

            }
        }
    }
}

.reviews-block {

}

#map {
    height: 400px;
}

.contragents-block {
    @partners_col: 9;
    table {
        width: 100%;
        td {
            text-align: center;
            width: @container-width/9;
            img {
                max-height: 60px;
                max-width: @container-width/9 - 30px;
            }
        }
    }
}

.notched-section__top, .notched-section__bottom {
    background: url(../img/notched-border.png) repeat-x;
    height: 10px;
}

.notched-section__bottom {
    background-position: 0 -11px;
}

.notched-section__content {
    overflow: hidden;
    padding: 30px 0;
    background: whitesmoke;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(31%, #f0f0f0), color-stop(66%, #f8f8f8), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f7f7f7',GradientType=0 );
}
